/vendor/*
/config/app.php
/tmp/*
/logs/*
.idea
.settings
bin
config
plugins
tests
webroot
.buildpath
.editorconfig
.gitattributes
.gitignore
.htaccess
.project
.travis.yml
composer.json
composer.lock
index.php
phpunit.xml.dist
